<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="ThermoStyle.css">
    <link rel="stylesheet" href="ThermometerUnitConversion/UnitSwitch.css">
</head>
<style>
    .thermometer {
        z-index: 1;
        bottom: 0;
    }

    .thermometer:before {
        height: 50%;
    }
</style>

<body>
    <h1 style="text-align:center;">Thermometer</h1>
    <div style="display:flex; justify-content:center; align-items:center;">
        <label class="CelciustoFarenhiteSwitch">
            <input type="checkbox" id="convert" onclick="convertTemperature()">
            <span class="slider round">
                <span class="TempUnits"> ℉    ℃</span>
            </span>
        </label>
        <div class="container">
            <table>
                <thead>
                    <th>temp</th>
                    <th>image</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span class="temp">-101</span>
                            <span class="unit">℃</span>
                        </td>
                        <td>🧥</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="temp">-101</span>
                            <span class="unit">℃</span>
                        </td>
                        <td>🧥</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="temp">-101</span>
                            <span class="unit">℃</span>
                        </td>
                        <td>🧥</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="temp">-101</span>
                            <span class="unit">℃</span>
                        </td>
                        <td>🧥</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="temp">-101</span>
                            <span class="unit">℃</span>
                        </td>
                        <td>🧥</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="temp">-101</span>
                            <span class="unit">℃</span>
                        </td>
                        <td>🧥</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="temp">-101</span>
                            <span class="unit">℃</span>
                        </td>
                        <td>🧥</td>
                    </tr>
                </tbody>
            </table>
            <div id="thermometer">
                <div id="fill"></div>
                <div id="temperature"><span class="temp">50</span>°</div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="ThermometerUnitConversion/UnitConverter.js"></script>
<script>
    window.onload = function () {
        var tableBodyHeight = document.querySelector('table tbody').offsetHeight;
        var thermometerDiv = document.querySelector('#thermometer');
        var containerDiv = document.querySelector('.container');
        thermometerDiv.style.height = tableBodyHeight + 'px';
        containerDiv.style.height = tableBodyHeight + 'px';
    }
</script>

</html>