body{
    font-family: Calibre,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#thermometer {
    width: 47px;
    height: 200px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-top: 23px;
}

#fill {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #f00;
    animation: fill 2s ease-out forwards;
}

#temperature {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    animation: move 2s ease-out forwards;
}

@keyframes fill {
    0% {
        height: 0;
    }
    100% {
        height: 50%;
    }
}

@keyframes move {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 50%;
    }
}

td {
    text-align: center;
    font-size: large;
}
table tbody {
    display: block; /* Allow us to use overflow property */
    max-height: 70vh; /* Set max-height to 70% of the viewport height */
    overflow-y: auto; /* Add scroll if content is larger than max-height */
    width: 280px;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}
table thead, table tbody tr {
    display: table; /* Enable table properties for thead and tbody */
    width: 250px;
    table-layout: fixed; /* Fixed columns width */
}
@keyframes blink {
    0% {background-color: lightsalmon;}
    25% {background-color: transparent;}
    50% {background-color: lightsalmon;}
    75% {background-color: transparent;}
    100% {background-color: lightsalmon;}
}
.highlight {
    background-color: lightsalmon; /* Change this to your preferred highlight color */
    animation: blink 3s linear 1;
    border-collapse: separate;
    border-radius: 10px;
}
